/* CSS */

body {
    height: 100px;
    margin: 0;
    overflow: auto;
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #0f172a;
    color: white;
}



button {
    background-color: deepskyblue;
}

/* FLEXBOX */



.header {
    display: flex;
    padding: 20px;

}

.left-text {
    align-content: center;
    justify-content: center;
}

.right-text {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.footer {
    display: flex;
    padding: 20px;
    background-color: #0f172a;
    color: white;
    justify-content: center;
}